---
layout: people
title: People
permalink: /people/
---
{% include icons.html %}

<div class="post">

  <h1 class="post-title">Current group members</h1>

  <ul class="post-list">
    {% for person in site.data.current_members %}
      <li>
        <strong>{{ person.name }}</strong><br/>
        {{ person.role }}{% if person.joined %},
          {{ person.joined }}–present
        {% endif %}<br/>
        {% if person.history %}
        {{ person.history }}<br/>
        {% endif %}
        {% if person.url %}
          <a href="{{ person.url }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-home-icon"/>
            </svg>
            <div class="icon-tooltip"><p>Profile</p></div>
          </a> 
        {% endif %}
        {% if person.pubs %}
          <a href="{{ person.pubs }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-google-scholar-icon"/>
            </svg>
            <div class="icon-tooltip"><p>Google&nbsp;Scholar</p></div>
          </a> 
        {% endif %}
        {% if person.blog %}
          <a href="{{ person.blog }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-blog-icon"/>
            </svg> 
            <div class="icon-tooltip"><p>Blog</p></div>         
          </a> 
        {% endif %}
        {% if person.github %}
          <a href="https://github.com/{{ person.github }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-github-icon"/>
            </svg> 
            <div class="icon-tooltip"><p>Github</p></div>         
          </a> 
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="post-title">Past group members</h1>

  <ul class="post-list">
    {% for person in site.data.past_members %}
      <li>
        <strong>{{ person.name }}</strong>
        <br/>{{ person.role }}, 
        {% if person.joined == person.left %}
          {{ person.left }}
        {% else %}
          {{ person.joined }}–{{ person.left }}
        {% endif %}
        {% if person.currently %}
          <br/>Last known whereabouts:
          {% if person.url %}
            <a href="{{ person.url }}">{{ person.currently }}</a>
          {% else %}
            {{  person.currently }}
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
 
</div>
