/**
 * Entire page
 */
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
body, html {
    height: 100%;
}

/**
 * Page cover
 */
#cover { 
    /*
    background: url(../img/WilkeLabCover-long.jpg) no-repeat top left rgb(1,2,2); 
    */
    background: url(../img/enzyme_cover.jpg) no-repeat top left rgb(0,0,0);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

#headline {
    background: url(../img/WilkeLabHeadline.png) no-repeat top left; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 100%;
}

#headline-empty {
    height: 100%;
}


/* about block */

#about-block{
    background: $grey-color;
    color: #ffffff;
}

/**
 * People page
 */
#people { 
    background: url(../img/LabPictureOct2016_scaled.jpg) no-repeat top left rgb(1,2,2); 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}


.people-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    color: $text-color-extra-light;
    text-shadow: 2px 2px 4px #000000;

    &,
    &:visited {
        color: $grey-color-light;
    }
}

.people-icon {
    display: inline-block;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
    margin-top: 2px;
    background: $text-color-light;
    color: $brand-color-dark;
    border-radius: 2px;

    &:hover {
        color: $brand-color;
    }

    .icon-tooltip {
        display: none;
        position: absolute;
        top: 26px;
        left: 0px;
        background-color: $text-color-extra-light;
        color: $grey-color-dark;
        border-color: $grey-color-dark;
        border-style: solid;
        border-width: 0.5px;
        border-radius: 2px;
        width: auto;
        height: 1.3*$base-font-size;
        padding: 1px;
        padding-left: 2px;
        padding-right: 2px;
        z-index: 10000;
    }
    &:hover .icon-tooltip {
        display: block;
    }

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $brand-color;
        }
    }
}


/***
 * Loader image
 */
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/* background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249); */
	background: rgb(11,19,19);
}

/**
 * Anchors that correct for site header
 */

a.anchor {
    display: block;
    position: relative;
    top: -56px - $spacing-unit / 2; /* min. height of site-header class */
    height: 0px;
    visibility: hidden;
}

/**
 * Site header
 */
 
#sticky {
}
#sticky.stick {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

#sticky-phantom{
  visibility: hidden;
}

.site-header {
/*
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    */
    min-height: 56px;

    background-color: black;
    color: $text-color-extra-light;

/*
    // Positioning context for the mobile navigation icon
    position: relative;
    */
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-light;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color-extra-light;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: fixed;
        top: 9px;
        right: 30px;
        background-color: black;
        border: 1px solid $grey-color-dark;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-light;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    height: 100%;
    /*border-top: 1px solid $grey-color-light;*/
    background-color: $grey-color-dark;
    color: $text-color-light;
    padding: $spacing-unit 0;

    min-height: 0px;    
        
    a {
        color: $brand-color-light;
        
        &:hover {
            color: $text-color-light;
        }
    }
}

.footer-heading {
    font-size: 18px;
    color: $text-color-extra-light;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Publication list
 */
.pub-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
    }
    
    .pub-year {
        font-weight: bold;
        font-size: 20px;
       
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
